body{
    background-color: rgb(185, 182, 182);
}
.con{
    display: flex;
justify-content: space-around;
}
.box{
    background-color: white;
width: 200px;
height: 300px;
border-radius: 25px;
}
.one{
    background-color: skyblue;
    padding: 15px;
    text-align: center;
    font-size:25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
li{
    list-style: none;
}
.two{
    background-color: rgb(135, 235, 143);
    padding: 15px;
    text-align: center;
    font-size:25px;
}.three{
    background-color: rgb(214, 246, 89);
    padding: 15px;
    text-align: center;
    font-size:25px;
}
.sss{
    background-color: skyblue;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}
.ss{
  padding: 15px;
}
.rr{
    padding: 15px;
}
.rrr{
    background-color: rgb(135, 235, 142);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}
.qq{
    padding: 15px;
}
.qqq{
    background-color: rgb(168, 234, 74);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}

